.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .8;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 400px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}